<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="jspf/header">...</div>
<link href="/css/systemStatistics.css" rel="stylesheet" />
<script src="/js/index.js"></script>
<script src="/js/systemStatistics.js"></script>
</head>
<body>
	<div th:include="jspf/toolbar">...</div>
	<div class="row">
		<div class="main">
			<ol id="orderedListBar" class="breadcrumb">
				<li class="linkStyle" id="buttonSCE" onclick="showTable('SCE')"><a>SCE Statistics</a></li>
				<li class="linkStyle" id="buttonCMTS" onclick="showTable('CMTS')"><a>CMTS Statistics</a></li>
			</ol>
		</div>
	</div>
	<div th:include="jspf/footer">...</div>
	<!--Tabla char type-->
	<div id="divTabla" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main dataTable">
		<h1 id="titulo" class="page-header tableTitle"></h1>
		<div class="table-responsive">
			<div class="animate-switch-container">
				<div class="animate-switch">
					<table id="tabla" class="table table-striped">
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
